USE [master]
GO
/****** Object:  Database [FARMACIA]    Script Date: 24/04/2021 9:13:51 ******/
CREATE DATABASE [FARMACIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FARMACIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FARMACIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FARMACIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FARMACIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FARMACIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FARMACIA]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 24/04/2021 9:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMP] [int] NOT NULL,
	[NOM_EMP] [varchar](40) NOT NULL,
	[ID_DIR] [int] NOT NULL,
	[ID_DIS] [int] NOT NULL,
	[CLAVE] [varchar](20) NOT NULL,
	[ID_DE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_vista1]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_vista1]
AS
	SELECT EMPLEADO.ID_EMP, EMPLEADO.NOM_EMP FROM EMPLEADO
GO
/****** Object:  Table [dbo].[BOLETA]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLETA](
	[NUM_BOLETA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_EMPL] [int] NOT NULL,
	[ID_CLI] [int] NOT NULL,
	[NUM_OrdenPedido] [int] NOT NULL,
	[SUBTOTAL] [int] NOT NULL,
	[DESCUENTO] [int] NULL,
	[TOTAL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_BOLETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATE] [int] NOT NULL,
	[NOM_DES] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLI] [int] NOT NULL,
	[NOM_CLI] [varchar](40) NOT NULL,
	[ID_DIR] [int] NOT NULL,
	[SEXO] [varchar](1) NOT NULL,
	[DUI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNI_DUI] UNIQUE NONCLUSTERED 
(
	[DUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PRODUCTO]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PRODUCTO](
	[ID_DP] [int] NOT NULL,
	[PRE_VENTAS] [decimal](10, 2) NOT NULL,
	[PRE_COMPRAS] [decimal](10, 2) NOT NULL,
	[FECHA_VENC] [datetime] NOT NULL,
	[STOCK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_USUARIO]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_USUARIO](
	[ID_DU] [int] NOT NULL,
	[NIVEL_USUARIO] [varchar](2) NOT NULL,
	[ACTIVO] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleEmpledo]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleEmpledo](
	[ID_DE] [int] NOT NULL,
	[CARGO] [varchar](40) NOT NULL,
	[EDAD] [varchar](2) NOT NULL,
	[INGRESO] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleOrdenPedido]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleOrdenPedido](
	[NUM_ORDEP] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRO] [int] NOT NULL,
	[CANTIDAD] [decimal](10, 2) NULL,
	[PRECIO_VENTA] [decimal](10, 2) NULL,
	[IMPORTE] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_ORDEP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[ID_DIS] [int] NOT NULL,
	[NOM_DIS] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNI_DISTRITO] UNIQUE NONCLUSTERED 
(
	[NOM_DIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenPedido]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenPedido](
	[NUM_OrdenPedido] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_CLI] [int] NOT NULL,
	[ID_EMP] [int] NOT NULL,
	[ID_TipoPago] [int] NOT NULL,
	[TOTAL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_OrdenPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESENTACION]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESENTACION](
	[ID_PRE] [int] NOT NULL,
	[NOM_PRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRO] [int] NOT NULL,
	[NOM_PRO] [varchar](40) NOT NULL,
	[ID_CATE] [int] NOT NULL,
	[ID_PROV] [int] NOT NULL,
	[ID_PRES] [int] NOT NULL,
	[ID_DP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROV] [int] NOT NULL,
	[NOM_PROV] [varchar](40) NOT NULL,
	[ID_DIR] [varchar](50) NULL,
	[ID_DISTRITO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBICACION]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICACION](
	[ID_DIR] [int] NOT NULL,
	[ID_DIS] [int] NOT NULL,
	[LOCALIDAD] [varchar](50) NOT NULL,
	[DIRECCION] [varchar](50) NOT NULL,
	[TELEFONO] [int] NOT NULL,
	[CELULAR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DIR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USU] [int] NOT NULL,
	[NOM_USU] [varchar](40) NOT NULL,
	[CONTRASEÑA] [varchar](10) NOT NULL,
	[ID_EMP] [int] NOT NULL,
	[ID_DU] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOLETA] ADD  DEFAULT ((8)) FOR [ID_EMPL]
GO
ALTER TABLE [dbo].[BOLETA] ADD  DEFAULT ((8)) FOR [ID_CLI]
GO
ALTER TABLE [dbo].[BOLETA] ADD  DEFAULT ((8)) FOR [NUM_OrdenPedido]
GO
ALTER TABLE [dbo].[OrdenPedido] ADD  DEFAULT ((8)) FOR [ID_CLI]
GO
ALTER TABLE [dbo].[OrdenPedido] ADD  DEFAULT ((8)) FOR [ID_EMP]
GO
ALTER TABLE [dbo].[OrdenPedido] ADD  DEFAULT ((8)) FOR [ID_TipoPago]
GO
ALTER TABLE [dbo].[BOLETA]  WITH CHECK ADD  CONSTRAINT [PK_ID_BOLE] FOREIGN KEY([NUM_OrdenPedido])
REFERENCES [dbo].[OrdenPedido] ([NUM_OrdenPedido])
GO
ALTER TABLE [dbo].[BOLETA] CHECK CONSTRAINT [PK_ID_BOLE]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [PK_ID_DIR_CLI] FOREIGN KEY([ID_DIR])
REFERENCES [dbo].[UBICACION] ([ID_DIR])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [PK_ID_DIR_CLI]
GO
ALTER TABLE [dbo].[DetalleOrdenPedido]  WITH CHECK ADD  CONSTRAINT [PK_ID_PRO] FOREIGN KEY([ID_PRO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRO])
GO
ALTER TABLE [dbo].[DetalleOrdenPedido] CHECK CONSTRAINT [PK_ID_PRO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [PK_ID_DE] FOREIGN KEY([ID_DE])
REFERENCES [dbo].[DetalleEmpledo] ([ID_DE])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [PK_ID_DE]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [PK_ID_DIR_EMP] FOREIGN KEY([ID_DIR])
REFERENCES [dbo].[UBICACION] ([ID_DIR])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [PK_ID_DIR_EMP]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [PK_ID_DIS] FOREIGN KEY([ID_DIS])
REFERENCES [dbo].[DISTRITO] ([ID_DIS])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [PK_ID_DIS]
GO
ALTER TABLE [dbo].[OrdenPedido]  WITH CHECK ADD  CONSTRAINT [PK_ID_CLI] FOREIGN KEY([ID_CLI])
REFERENCES [dbo].[CLIENTES] ([ID_CLI])
GO
ALTER TABLE [dbo].[OrdenPedido] CHECK CONSTRAINT [PK_ID_CLI]
GO
ALTER TABLE [dbo].[OrdenPedido]  WITH CHECK ADD  CONSTRAINT [PK_ID_EMP] FOREIGN KEY([ID_EMP])
REFERENCES [dbo].[EMPLEADO] ([ID_EMP])
GO
ALTER TABLE [dbo].[OrdenPedido] CHECK CONSTRAINT [PK_ID_EMP]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [PK_ID_CATE] FOREIGN KEY([ID_CATE])
REFERENCES [dbo].[CATEGORIA] ([ID_CATE])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [PK_ID_CATE]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [Pk_ID_DP] FOREIGN KEY([ID_DP])
REFERENCES [dbo].[DETALLE_PRODUCTO] ([ID_DP])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [Pk_ID_DP]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [PK_ID_PRESENT] FOREIGN KEY([ID_PRES])
REFERENCES [dbo].[PRESENTACION] ([ID_PRE])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [PK_ID_PRESENT]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [PK_ID_PROV] FOREIGN KEY([ID_PROV])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROV])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [PK_ID_PROV]
GO
ALTER TABLE [dbo].[PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [PK_ID_DIST] FOREIGN KEY([ID_DISTRITO])
REFERENCES [dbo].[DISTRITO] ([ID_DIS])
GO
ALTER TABLE [dbo].[PROVEEDOR] CHECK CONSTRAINT [PK_ID_DIST]
GO
ALTER TABLE [dbo].[UBICACION]  WITH CHECK ADD  CONSTRAINT [PK_ID_DIS_DIR] FOREIGN KEY([ID_DIS])
REFERENCES [dbo].[DISTRITO] ([ID_DIS])
GO
ALTER TABLE [dbo].[UBICACION] CHECK CONSTRAINT [PK_ID_DIS_DIR]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [PK_ID_DU] FOREIGN KEY([ID_DU])
REFERENCES [dbo].[DETALLE_USUARIO] ([ID_DU])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [PK_ID_DU]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [PK_ID_EMPLE] FOREIGN KEY([ID_EMP])
REFERENCES [dbo].[EMPLEADO] ([ID_EMP])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [PK_ID_EMPLE]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [CK_DUI] CHECK  ((len([DUI])=(8)))
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [CK_DUI]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [CK_SEXO] CHECK  (([SEXO]='F' OR [SEXO]='M'))
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [CK_SEXO]
GO
/****** Object:  StoredProcedure [dbo].[SP_distrito]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_distrito] AS
SET ROWCOUNT 14
SELECT DISTRITO.ID_DIS AS ID, DISTRITO.NOM_DIS
FROM DISTRITO
ORDER BY DISTRITO.ID_DIS DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_EMPLEADO]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EMPLEADO] 
AS
BEGIN
	SELECT 
		E.ID_EMP AS ID,
		E.NOM_EMP AS NOMBRE,
		DE.EDAD,
		DE.CARGO,
		U.DIRECCION AS UBICACION,
		U.LOCALIDAD AS LOCALIDAD,
		U.CELULAR AS N_CELULAR,
		U.TELEFONO AS N_TELEFONO,
		DI.NOM_DIS AS DISTRITO,
		DE.INGRESO AS FECHA_INGRESO
	FROM 
		DISTRITO DI INNER JOIN (DetalleEmpledo DE INNER JOIN 
		(UBICACION U INNER JOIN EMPLEADO E ON U.ID_DIR = E.ID_DIR ) 
		ON E.ID_DE = DE.ID_DE) ON DI.ID_DIS = E.ID_DIS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERCION_EMPLEADO]    Script Date: 24/04/2021 9:13:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_INSERCION_EMPLEADO]
	@ID_EMP INT ,
	@NOM_EMP VARCHAR ( 20 ),
	@EDAD INT ,
	@CARGO VARCHAR ( 20 ),
	@DIRECCION VARCHAR ( 50 ),
	@LOCALIDAD VARCHAR( 50 ),
	@CELULAR INT ,
	@TELEFONO INT ,
	@ID_DIS INT ,
	@FECHA_INGRESO DATETIME
AS 
BEGIN 
DECLARE @EXISTE BIT = (SELECT COUNT ( * ) FROM EMPLEADO WHERE NOM_EMP = @NOM_EMP)
	IF (@EXISTE  = 1)
	BEGIN
		DECLARE @ID_EMPLEADO int = (SELECT	TOP 1 @ID_EMP FROM EMPLEADO WHERE @NOM_EMP = NOM_EMP)
	END
ELSE
	BEGIN
	SELECT * FROM EMPLEADO
	END
END
GO
USE [master]
GO
